.admin-container{
    width: 58%;
    margin-left: 3vh;
    padding: 2vh 20%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}
.post-admin{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding: 0 6vh;
}