.Pet_Breeding {
  margin: auto;
  width: 100vw;
  height: 92vh;
  overflow: hidden;
  user-select: none;
  color: var(--blaclk);
}
.Pet_wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 90%;
  height: 100%;
}
._breed {
  display: flex;
  justify-content: center;
}
.Top {
  height: 50%;
}
.Mid {
  height: 40%;
}
.Bot {
  margin-bottom: -0.5vh;
  height: 10%;
  display: flex;
  bottom: 0;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.25vh solid var(--blaclk);
}
.owner_ {
  display: flex;
  align-items: center;
}
.dpImageLoc {
  font-size: 6.5vh;
  margin-top: 1.75vh;
}
.dpImageLoc > .dp-wrapper {
  bottom: 5vh;
  width: 3.5vh;
  margin-left: 1.28vh;
  margin-bottom: -1.25vh;
  height: 3.5vh;
  position: absolute;
}
.dpImageLoc > span {
  border: 1px solid red;
}
.dataList > li {
  display: flex;
  justify-content: space-between;
}
.Loc {
  flex-direction: column !important;
  width: 15%;
  margin-top: -0.25vh;
  border: 0.75vh solid var(--blaclk);
  border-bottom: none;
  font-size: 4vh;
}
.Loc > span {
  font-size: 2.75vh;
  font-weight: 600;
  height: 3vh;
}
.Abo2 {
  width: 42.5%;
  padding-right: 5vh;
  flex-direction: row-reverse;
}
.Abo {
  padding-left: 5vh;
  width: 42.5%;
}
.sideTop {
  display: flex;
  width: 37.5%;
  flex-direction: column;
}
.side_Top {
  height: 80%;
}

.side_Top > .img {
  object-fit: cover;
  height: 20vh;
  border: 1.5vh double var(--blaclk);
  margin: 3.5vh auto;
  width: 20vh;
  font-size: 15vh;
}
.side_Bot {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mnetho {
  height: 12vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mnetho > h1 {
  margin-top: 2vh;
  font-size: 3.5vh;
}
.metho_ {
  font-size: 5vh;
  margin-top: 5vh;
  position: absolute;
}
.mnetho > span {
  font-weight: 600;
  margin-top: 2vh;
  font-size: 2vh;
}
.cato {
  margin-top: 5.75vh;
  transform: rotate(-33deg);
}
.sendREQ {
  height: 3vh !important;
  font-size: 2.5vh !important;
  margin: 2.05vh !important;
}
.centerTop {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.centerTop > h1 {
  margin: 1.5vh;
  font-size: 6vh;
}
.petType {
  height: 10vh;
  width: 10vh;
  font-size: 10vh;
  color: var(--primaryColor);
}
.cat {
  padding: 1vh;
  height: 8vh;
  width: 8vh;
  transform: scaleX(-1);
}
.breedType_ {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.caret {
  font-size: 4vh;
  transition: 0.25s ease-in-out;
  margin: 1.5vh;
  cursor: pointer;
}
.caret:hover {
  color: var(--primaryColor);
  transition: 0.25s ease-in-out;
}
.comp {
  width: 29%;
  flex-direction: column-reverse;
  align-items: center;
}
.tube_ {
  border: 1vh double var(--blaclk);
  border-bottom: transparent;
  height: 34%;
  position: absolute;
  width: 12%;
  border-radius: 5vh 5vh 0 0;
}
.comp_ {
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: 95%;
}
.mida {
  align-items: center;
}
.sideaa {
  align-items: flex-end;
}
.sideaa > .heasders_ {
  border-radius: 5vh 0 0 5vh;
  width: 25%;
  background-image: linear-gradient(to left, hsl(245, 14%, 29%), var(--blaclk));
}
.mida > .heasders_ {
  background-image: linear-gradient(
    to right,
    var(--blaclk),
    var(--primaryColor)
  );
}
.sideba > .heasders_ {
  margin-right: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 25%;
  background-image: linear-gradient(
    to right,
    hsl(32, 90.75%, 57%),
    var(--primaryColor)
  );
  border-radius: 0 5vh 5vh 0;
}
.heasders_ {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0.75vh;
  height: 2.75vh;
  font-size: 2vh;
  color: var(--white);
  font-weight: 900;
  text-align: center;
}
.headers_Data {
  display: flex;
  border-radius: 50%;
  position: absolute;
  height: 4.5vh;
  display: flex;
  font-size: 1.75vh;
  align-items: center;
  justify-content: center;
  width: 6vh;
}
.headers_Data.asad {
  margin: -1.15vh 0 0 -7.5vh !important;
  border: 0.25vh solid var(--blaclk);
  color: var(--blaclk);
}
.headers_Data.dasa {
  margin: -1.15vh -7.5vh 0 0 !important;
  border: 0.25vh solid var(--primaryTextColor);
  color: var(--primaryTextColor);
}
