.convoBox {
  position: static;
  height: 91vh;
  margin: auto;
}
.newMesCon {
  display: flex;
  align-items: center;
  width: 40vh;
  font-size: 2.25vh;
  font-weight: bold;
}
.fias {
  width: 15vh;
  height: 14vh;
  user-select: none;
  pointer-events: none !important;
  font-size: 7.5vh;
  border: 0.75vh dashed var(--primaryColor);
}
.dropUSerUL {
  border: 0.25vh solid var(--borderColor);
  border-radius: 1vh;
  overflow: hidden;
  padding: 0;
  height: 45vh;
  overflow-y: auto;
  width: 40vh;
  position: absolute;
  background-color: var(--bodyColor);
  top: 6.5vh;
  left: 48vh;
}
.AcNae{
  margin: auto 1vh;
}
.sa > .dropUSer:hover {
  background-color: var(--bodyColor);
  filter: brightness(1);
}
.newMesCon input {
  border: 0.25vh solid var(--boColor) !important;
  transition: all 0.3s ease-in-out;
  background-color: var(--boColor);
  width: 100%;
  margin: auto 0.75vh;
  font-size: 2vh;
  border-radius: 1vh;
  padding: 0.75vh 1vh;
}
.newMesCon > input:hover {
  outline: none !important;
  transition: all 0.3s ease-in-out;
}
.convoHead {
  border-bottom: 0.15vh solid var(--borderColor);
  height: 6vh;
  padding: 0.75vh 1vh;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.convoHead img {
  width: 5.2vh;
  height: 5vh;
}
.convoHead span {
  margin: 1vh;
  align-items: center;
  display: flex;
  font-size: 3vh;
  font-weight: 600;
}
.convo {
  height: 83.25%;
  overflow: auto;
}
.convoTail {
  border-top: 0.15vh solid var(--borderColor);
  height: 6vh;
  bottom: 0;
  margin-bottom: 50vh;
  padding: 0.75vh 1vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.msgIC {
  font-size: 4.75vh;
  color: var(--blaclk);
  margin: auto 2.5vh;
  border-radius: 50%;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.msgIC:hover {
  color: var(--primaryColor);
  transition: all 350ms ease-in-out;
}
.msgIn {
  border: none;
  outline: none;
  color: var(--blaclk);
  width: 80%;
  height: 80%;
  padding: 0.15vh 2vh;
  border-radius: 4vh;
  background-color: var(--boColor);
}
.msgIn:hover {
  border: none !important;
}
.RecieverMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75.5%;
}
.RecieverMsg img,
.fiass {
  width: 15vh;
  pointer-events: none;
  height: 14vh;
  border-radius: 50%;
  overflow: hidden;
  border: 0.75vh dashed var(--primaryColor);
}
.msgInfor {
  font-size: 3.75vh;
  border-radius: 50%;
  margin: 1.75vh;
  cursor: pointer;
  border: 0.3vh solid var(--blaclk);
  color: var(--blaclk);
  transition: all 350ms ease-in-out;
}
.msgInfor:hover {
  color: var(--primaryColor);
  border: 0.3vh solid var(--primaryColor);
  transition: all 350ms ease-in-out;
}
.Msg {
  display: flex;
  min-height: 5vh;
  height: fit-content;
  padding: 1vh;
  align-items: flex-end;
}
.Msg img {
  width: 5vh;
  height: 4.25vh;
  display: flex;
}
.messageDa{
  height: 72vh;
  overflow-y: auto;
  padding: 15px 10px;
}
.send {
  flex-direction: row;
}
.reci {
  flex-direction: row-reverse;
}
.msgBubble {
  margin: auto 0.45vh;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  min-height: 3vh;
  min-width: 1.5vh;
  width: fit-content;
  padding: 0.85vh 1.5vh;
  max-width: 50vh;
  word-break: break-all;
  text-align: justify;
}
.sent {
  background-color: var(--borderColor);
}
.recieve {
  color: white;
  background-color: var(--blaclk);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .msgInfor{
    display: none;
  }
  .AcNae{
    font-size: 2.25vh  !important;
  }
  .messageDa{
    height: 83.5%;
    padding: 0;
  }
  .RecieverMsg > .dp-wrapper{
    margin-top: 0;
  }
  .RecieverMsg h3{
    font-size: 2.5vh;
  } 
  .RecieverMsg h5{
    font-size: 2vh;
  }
  .RecieverMsg span{
    font-size: 1.75vh;
    text-align: center;
  }
.dropUSerUL {
  width: fit-content;
  left: 21vh;
}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}