.ohayo {
  position: static;
  display: flex;
  height: 100%;
}
.leftD {
  left: 8.5vh;
}
.leftD,
.rightD {
  width: 60%;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10vh;
  align-items: center;
  flex-direction: column;
}
.gyest {
  left: auto;
  padding: 0 30vh;
  width: fit-content;
}
.rightD {
  width: 26.4%;
  position: absolute;
  height: fit-content;
  max-height: 85%;
  right: 7.6vw;
}
.leftD > .log-in {
  width: 90%;
  border-radius: 1.25vh;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .leftD {
    padding: 0 !important;
    margin: 0 !important;
    position: static;
    width: 100% !important;
  }
  .ohayo {
    padding: 0 !important;
    flex-direction: column;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 768px) {
  .rightD {
    display: none;
  }

  .leftD {
    width: 90%;
    left: 0;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .rightD {
    right: 5vh;
  }

  .leftD {
    width: 65%;
    left: 5vh;
  }
}
