.drop {
  width: 19vw;
  user-select: none;
  height: auto;
  background-color: var(--bodyColor);
  border: 0.1vw solid var(--blaclk);
  position: fixed;
  border-radius: 0.52vw;
  top: 8vh;
  padding: 0.5vh;
  right: 5.75vw;
  z-index: 6;
  box-shadow: 0vw 0.5vw 0.5vw var(--borderColor);
}
.droTitle {
  font-size: 2.75vh;
  padding: 0.5vh 1vh;
  font-weight: 600;
}
.setOPt {
  font-size: 2.5vh;
  display: flex;
  text-decoration: none;
  padding: 1.25vh 1.25vw;
  margin: auto;
  border-radius: 0.5vh;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  transition: all 350ms ease-in-out;
}
.har {
  border: 1px solid var(--borderColor);
  margin-bottom: 1vh;
}
.setOPt:hover {
  filter: saturate(0.9);
  background-color: var(--borderColor);
  transition: all 350ms ease-in-out;
}
.setOPt span {
  font-size: 2.15vh;
  margin-left: 0.75vw;
}
.messUl {
  overflow: auto;
  max-height: 50vh;
  width: 100%;
}
.seeMEs{
  display: flex;
  align-items: center;
  justify-content:center;
  margin:1vh 0;
}
.messLi {
  display: flex;
  transition: all 350ms ease-in-out;
  margin-bottom: 0.25vh;
  padding-bottom: 0.25vh;
  cursor: pointer;
  border-bottom: 0.25vh solid var(--primaryColor);
}
.messLi > img {
  width: 6vh;
  height: 5.5vh;
  padding: 0.1vh;
  border-radius: 50%;
  display: flex;
  border: 0.35vh solid var(--borderColor);
  object-fit: contain;
}
.messLi > span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.1vh;
  margin: 0.25vh 0.5vh;
}
.messLi > span > .pmes {
  width: 70%;
}
.messLi > span > .pda {
  width: 30%;
  word-break: keep-all;
  font-size: 1.5vh;
  width: max-content;
}
.messLi:hover {
  background-color: var(--borderColor);
  filter: brightness(1.02);
  transition: all 350ms ease-in-out;
}
.drop > .btn-log {
  height: 3vh;
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 1vw -1vh -0.35vw;
}
.msgA {
  margin: 1vh auto;
  font-size: 2.25vh;
  display: flex;
  justify-content: center;
}

.Notif_UL{
  list-style: none;
  display: flex;
  flex-direction: column;
}