footer {
  background-color: var(--borderColor);
  padding: 3vw;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}
footer > center > h3 {
  font-size: 2.2vh;
  font-weight: 400;
}
footer > center > h6,
footer > center > a {
  font-size: 1.9vh;
}
footer > center > a:hover {
  color: var(--primaryColor);
}
@media screen and (max-width: 720px) {

  footer > center > h3 {
    font-size: 1.9vh;
  }
  footer > center > h6,
  footer > center > a {
    font-size: 1.5vh;
  }
}